<h1 class="headerbar" mat-dialog-title>{{data.title}}</h1>
<mat-dialog-content fxLayout="column">
  <input [(ngModel)]="value" *ngIf="!data.options" (keydown)="onKeyDown($event)">
  <select [(ngModel)]="value" *ngIf="data.options" (keydown)="onKeyDown($event)">
    <option *ngFor="let option of data.options" [value]="option.id">{{option.name}}</option>
  </select>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button [mat-dialog-close]="value">Submit</button>
  <button mat-raised-button [mat-dialog-close]="undefined">Cancel</button>
</mat-dialog-actions>