<div class="background">
  <div class="earth"></div>
</div>
<div class="datetime">
  <time-unit [unit]="units.HOUR" (change)="changeDateTime($event)">{{datetime.getTime()}}</time-unit>
  <span>, </span>
  <time-unit [unit]="units.WEEK" (change)="changeDateTime($event)">{{datetime.date.week | ordinal}}</time-unit>
  <span>{{' '}}</span>
  <time-unit [unit]="units.DAY" (change)="changeDateTime($event)">{{datetime.date.day.name}}</time-unit>
  <span>{{' of '}}</span>
  <time-unit [unit]="units.EPOCH" (change)="changeDateTime($event)">{{datetime.date.year.epoch}}</time-unit>
  <span>,</span>
  <time-unit [unit]="units.YEAR" (change)="changeDateTime($event)">{{datetime.date.year.year}}</time-unit>
</div>