<app-celestial-bg [datetime]="datetime"></app-celestial-bg>
<div class="datetime">
  <app-time-unit [unit]="units.HOUR" [value]="datetime.hour" (change)="changeDateTime($event)">{{datetime.getTime()}}</app-time-unit>
  <span>, </span>
  <app-time-unit [unit]="units.WEEK" [value]="datetime.date.week" (change)="changeDateTime($event)">{{datetime.date.week | ordinal}}</app-time-unit>
  <span>{{' '}}</span>
  <app-time-unit [unit]="units.DAY" [value]="datetime.date.day.id" (change)="changeDateTime($event)">{{datetime.date.day.name}}</app-time-unit>
  <span>{{' of '}}</span>
  <app-time-unit [unit]="units.EPOCH" [value]="datetime.date.year.epoch" (change)="changeDateTime($event)">{{datetime.date.year.epoch}}</app-time-unit>
  <span>,</span>
  <app-time-unit [unit]="units.YEAR" [value]="datetime.date.year.year" (change)="changeDateTime($event)">{{datetime.date.year.year}}</app-time-unit>
</div>
<div class="footer">
  <span>v{{environment.appVersion}}</span>
</div>