app-celestial-bg {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
}

.ui {
  z-index: 100;
  position: relative;
  pointer-events: none;
  * {
    pointer-events: auto;
  }
}

.date {
  position: absolute;
  top: 20vh;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 6.5vmin;
}

.time {
  @extend .date;
  top: calc(20vh + 20vmin);
}

@mixin translucent {
  select,button {
    opacity: 50%;
    &:hover {
      opacity: 75%;
    }
  }
}

.menu {
  padding: 1ch;
  padding-right: 0;
  text-align: right;
  height: 4ch;
  display: flex;
  flex-direction: row;
  .square {
    width: 4ch;
    text-align: center;
  }
  >* {
    margin-right: 1ch;
    height: 100%;
  }
  .separator {
    width: 0;
    margin: 0 auto;
  }
  @include translucent();
}

.bearing {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include translucent();
  app-holdable-button {
    position: absolute;
    width: 1.5vmin;
    top: 40vh;
    bottom: 40vh;
    background-color: whitesmoke;
    &.left {
      left: 1ch;
      .arrow {
        transform: rotate(-225deg);
        -webkit-transform: rotate(-225deg);
        top: calc(50% - 0.56569vmin);
        left: calc(50% - 0.56569vmin + 0.1vw);
      }
    }
    &.right {
      right: 1ch;
      .arrow {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        top: calc(50% - 0.56569vmin);
        left: calc(50% - 0.56569vmin - 0.1vw);
      }
    }
  }
}

.arrow {
  border: solid darkgrey;
  border-width: 0 0.5vmin 0.5vmin 0;
  display: inline-block;
  padding: 0.3vmin;
  position: absolute;
  left: calc(50% - 0.56569vmin);
  margin: auto;
}

.footer {
  position: absolute;
  bottom: 0;
  margin: 0 5px;
  text-align: left;
  a {
    color: inherit;
    text-decoration: none;
  }
}
