$angular-diameter: 179.92134;
$diameter: calc(tan($angular-diameter * pi/360) * 5vmin * 360/pi);

.earth {
  width: $diameter;
  height: $diameter;
  position: absolute;
  top: 90vh;
  left: calc(50vw - $diameter / 2);
  background-color: green;
  border-radius: 100%;
  z-index: 4;
}

.sky {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 0;
}
