$diameter: 2000vw;

.ground {
  width: $diameter;
  height: $diameter;
  position: absolute;
  left: calc(50vw - $diameter / 2);
  top: 80vh;
  background-color: green;
  border-radius: 100%;
  z-index: 4;
}

.sky {
  background-color: skyblue;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 0;
}
