<svg:g [style.opacity]="opacity">
  <line *ngFor="let star of stars"
    id="star-{{star.id}}"
    [style.display]="star.display ? 'inherit' : 'none'"
    [attr.x1]="star.screenX"
    [attr.x2]="star.screenX"
    [attr.y1]="star.screenY"
    [attr.y2]="star.screenY"
    stroke="white"
    stroke-linecap="round"
    [attr.stroke-width]="star.diameter"
    vector-effect="non-scaling-stroke"
    [attr.opacity]="star.brightnessMax"
    >
    <animate
    attributeName="opacity"
    begin="indefinite"
    [attr.dur]="star.animationDuration"
    [attr.values]="star.brightnessMax + ';' + star.brightnessMin + ';' + star.brightnessMax"
    repeatCount="indefinite"
    />
  </line>
</g>