<div [style.opacity]="opacity" [style.z-index]="-99">
  <div *ngFor="let star of stars"
    class="star"
    [style.display]="star.display ? 'inherit' : 'none'"
    [style.bottom]="'calc(10vh + ' + star.bottom + 'vmin)'"
    [style.left]="'calc(50vw + ' + star.left + 'vmin)'"
    [style.--diameter]="star.diameter + 'px'"
    [style.--rotation]="star.rotation + 'deg'"
    [style.--brightness]="star.brightnessMax + '%'"
    [style.--min-brightness]="star.brightnessMin + '%'"
    [style.animation-duration]="star.animationDuration + 's'"
    [style.animation-delay]="star.animationDelay + 's'"
  ></div>
</div>