<svg viewBox="-50 -200 100 300" [style.opacity]="opacity" [style.z-index]="-99">
  <circle *ngFor="let star of stars"
    id="star-{{star.id}}"
    [style.display]="star.display ? 'inherit' : 'none'"
    [attr.cx]="star.screenX"
    [attr.cy]="90 - star.screenY"
    [attr.r]="star.diameter / 2 * (5 / 54)"
    fill="white"
  >
    <animate
      attributeName="opacity"
      [attr.begin]="star.animationDelay + 's'"
      [attr.dur]="star.animationDuration + 's'"
      [attr.values]="star.brightnessMax + ';' + star.brightnessMin + ';' + star.brightnessMax"
      repeatCount="indefinite"
    />
  </circle>
</svg>