.anchor {
    position: absolute;
    width: 0;
    height: 0;
}

$angular-diameter: var(--angularDiameter);
$diameter: calc($angular-diameter * 5vmin); // enlarged for visual effect

.body {
  width: $diameter;
  height: $diameter;
  position: absolute;
  left: calc( $diameter / -2 );
  top: calc( $diameter / -2 );
  filter: brightness(calc(var(--brightness) * 3));
  border-radius: 100%;
}

.body-lit {
  @extend .body;
  clip-path: inset(0 0 0 50%);
}

.meridean {
  @extend .body;
  clip-path: ellipse(var(--eclipse-width) 50% at 50% 50%);
}