<div class="anchor" [style.top]="top" [style.left]="left" [style.z-index]="zIndex">
  <div class="body"
    [style.--angularDiameter]="angularDiameter"
    [style.--body-color]="color"
    [style.--brightness]="brightness"
    [style.--sky-color]="celestialBodies.earth.skyColor"
    [style.--eclipse-width]="equatorialIllumination - 0.5 | abs | percent"
    [style.transform]="'rotate(' + illuminationDirection + 'deg)'"
  >
    <div class="lit-half"></div>
    <div class="meridean" [class.lit]="equatorialIllumination > 0.5"></div>
  </div>
</div>
<svg *ngIf="path.enabled" viewBox="-50 0 100 100" [style.z-index]="zIndex">
  <polyline [attr.points]="path.max" [attr.stroke]="color"/>
  <polyline [attr.points]="path.day" [attr.stroke]="color"/>
  <polyline [attr.points]="path.min" [attr.stroke]="color"/>
</svg>
