.anchor {
    position: absolute;
    width: 0;
    height: 0;
}

.body {
  $angular-diameter: var(--angularDiameter);
  $diameter: calc($angular-diameter * 5vmin); // enlarged for visual effect
  width: $diameter;
  height: $diameter;
  position: absolute;
  left: calc( $diameter / -2 );
  top: calc( $diameter / -2 );
  border-radius: 100%;
  background-color: var(--sky-color);
  * {
    position: inherit;
    height: 100%;
    width: 100%;
    border-radius: inherit;
  }
  .lit-half {
    @extend .lit;
    clip-path: inset(0 0 0 50%);
  }
  .meridean {
    clip-path: ellipse(var(--eclipse-width) 50% at 50% 50%);
    background-color: inherit;
  }
  .lit {
    background-color: var(--body-color);
    filter: brightness(calc(var(--brightness) * 3));
  }
  // create a point of light to replace the body if it gets too small
  &::before {
    content: '';
    $angular-diameter: var(--angularDiameter);
    $diameter: min(max(0.5px, calc($angular-diameter * 5vmin)), 2px); // enlarged for visual effect
    width: $diameter;
    height: $diameter;
    position: absolute;
    left: calc(50% - $diameter / 2);
    top: calc(50% - $diameter / 2);
    border-radius: 100%;
    background-color: white;
    opacity: var(--visibility);
  }
}

svg {
  position: absolute;
  bottom: 10vh;
  height: 90vmin;
  left: 0;
  width: 100vw;
  opacity: 20%;
}

polyline {
  stroke-width: 0.5;
  fill: none;
}
