svg.body {
  position: absolute;
  bottom: 0;
  height: 300vmin;
  left: 0;
  width: 100vw;
  &.path {
    opacity: 20%;
  }
  circle {
    r: var(--radius);
    &.point {
      r: calc(sqrt(var(--radius)));
    }
  }
  ellipse {
    ry: var(--radius);
    rx: calc(var(--radius) * abs(2 * var(--illumination) - 1));
  }
  circle,ellipse {
    cx: var(--screenX);
    cy: var(--screenY);
    transform-origin: center;
    transform-box: fill-box;
    transform: rotate(calc(var(--rotation) * 1deg));
    &.lit {
      fill: var(--color);
      filter: brightness(calc(var(--brightness) * 3));
    }
    &.dark {
      fill: var(--skyColor);
    }
    &.half {
      clip-path: inset(0 0 0 50%);
    }
  }
}

svg.path {
  polyline {
    stroke-width: 0.5;
    fill: none;
  }
}
