<svg viewBox="-50 -200 100 300" [style.z-index]="zIndex" *ngIf="display">
  <circle
    class="bg"
    [attr.cx]="screenX"
    [attr.cy]="90 - screenY"
    [attr.r]="angularDiameter * embiggenmentFactor * screenSf / 2"
    [attr.fill]="celestialBodies.earth.skyColor"
  />
  <circle
    class="lit-half"
    [attr.cx]="screenX"
    [attr.cy]="90 - screenY"
    [attr.r]="angularDiameter * embiggenmentFactor * screenSf / 2"
    [attr.fill]="color"
    [style.filter]="'brightness(calc(' + brightness + ' * 3))'"
    [style.transform]="'rotate(' + illuminationDirection + 'deg)'"
    [style.transform-origin]="'center'"
    [style.transform-box]="'fill-box'"
  />
  <ellipse
    class="meridean"
    [class.lit]="equatorialIllumination > 0.5"
    [style.--brightness]="brightness"
    [attr.cx]="screenX"
    [attr.cy]="90 - screenY"
    [attr.rx]="(2 * equatorialIllumination - 1 | abs) * angularDiameter * embiggenmentFactor * screenSf / 2"
    [attr.ry]="angularDiameter * embiggenmentFactor * screenSf / 2"
    [attr.fill]="equatorialIllumination > 0.5 ? color : celestialBodies.earth.skyColor"
    [style.transform]="'rotate(' + illuminationDirection + 'deg)'"
    [style.transform-origin]="'center'"
    [style.transform-box]="'fill-box'"
  />
</svg>
<div class="anchor" *ngIf="false"
  [style.display]="display ? 'inherit' : 'none'"
  [style.bottom]="'calc(10vmin + ' + screenY + 'vmin)'"
  [style.left]="'calc(50vw + ' + screenX + 'vmin)'"
  [style.z-index]="zIndex"
>
  <div class="point"
    [style.--angularDiameter]="angularDiameter"
    [style.--embiggenmentFactor]="embiggenmentFactor"
    [style.--point-opacity]="pointOpacity"
  ></div>
  <div class="body"
    [style.--angularDiameter]="angularDiameter"
    [style.--embiggenmentFactor]="embiggenmentFactor"
    [style.--body-color]="color"
    [style.--brightness]="brightness"
    [style.--sky-color]="celestialBodies.earth.skyColor"
    [style.--point-opacity]="pointOpacity"
    [style.--eclipse-width]="equatorialIllumination - 0.5 | abs | percent"
    [style.transform]="'rotate(' + illuminationDirection + 'deg) scale(' + screenSf + ')'"
  >
    <div class="lit-half"></div>
    <div class="meridean" [class.lit]="equatorialIllumination > 0.5"></div>
  </div>
</div>
<svg *ngIf="path.enabled" class="path" viewBox="-50 -200 100 300" [style.z-index]="zIndex+50">
  <polyline *ngFor="let path of path.max" [attr.points]="path" [attr.stroke]="color"/>
  <polyline *ngFor="let path of path.day" [attr.points]="path" [attr.stroke]="color"/>
  <polyline *ngFor="let path of path.min" [attr.points]="path" [attr.stroke]="color"/>
</svg>
