.root {
  position: relative;
}

.clickable {
  cursor: pointer;
}

app-holdable-button {
  position: absolute;
  width: 100%;
  height: 1.5vmin;
  left: 0;
  &[arrow=up] {
    bottom: 105%;
  }
  &[arrow=down] {
    top: 105%;
  }
}
